<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
    
      <span class="brand-text">Barbería Carlyn</span>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">
      <ion-icon [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"></ion-icon>
    </button>

    <div class="navbar-menu" [class.active]="isMenuOpen">
      <a 
        *ngFor="let item of menuItems" 
        [routerLink]="item.route" 
        routerLinkActive="active"
        class="nav-item"
        (click)="toggleMenu()">
        <ion-icon [name]="item.icon"></ion-icon>
        <span>{{ item.label }}</span>
      </a>
    </div>

    <div class="navbar-actions">
      <button class="notification-btn">
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
      
      <button class="profile-btn" (click)="login()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </button>
    </div>
  </div>
</nav>